@use "../base/typographys";

$font-primary: "Special Gothic Regular";

$bg-primary-light: #F7F7F8;
$bg-primary-dark: #012622;

$primary-light: #F7F7F8;
$primary-dark: #012622;

$bg-secondary-light: #003B36;
$bg-secondary-dark: #ECE5F0;

$secondary-light: #003B36;
$secondary-dark: #ECE5F0;

$color-accent: #E98A15;