@use "../base/typographys";

$font-primary: "Regular";

$color-primary: #700C0C;
$color-secondary: #5A0303;
$color-thirdary: #727070;
$color-accent: #615F5F;
$color-black: #1C1515;
$color-white: #ffffff;