@use "../abstracts/variables" as variable;

@keyframes bounce {
    0% {translate: 0;}
    50% {translate: -8px;}
    100% {translate: 0;}
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

@keyframes rotate-left {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-360deg);}
    100% {transform: rotate(0deg);}
}

.cta {
    background-color: variable.$bg-primary-dark;
    border-radius: 2rem;
    padding: 1rem 2.5rem;
    border: 3px solid variable.$bg-primary-dark;
    span {
        color: variable.$secondary-dark;
    };
    transition: all 0.2s ease-in-out;
};
.cta:hover {
    background-color: variable.$bg-secondary-light;
    border: 3px solid variable.$color-accent;
};

.link {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 3px solid transparent;
    color: variable.$color-accent;
    i {
        font-size: 0.9rem;
        color: variable.$color-accent;
    };
    transition: all 0.1s ease-out;
};
.link:hover {
    padding-bottom: 0;
    border-bottom: 3px solid variable.$color-accent;
    i {
        animation: 0.8s linear infinite bounce;
    };
};

.close-modal {
    i {
        font-size: 1.2rem;
        color: variable.$color-accent;
    };
    transition: all 0.1s ease-out;
};
.close-modal:hover {
    cursor: pointer;
    text-shadow: 0 0 5px variable.$secondary-dark, 0 0 10px variable.$secondary-dark, 0 0 15px variable.$secondary-dark, 0 0 20px variable.$color-accent, 0 0 30px variable.$color-accent, 0 0 40px variable.$color-accent, 0 0 55px variable.$color-accent, 0 0 75px variable.$color-accent;
};

.submit-btn {
    box-shadow: 
        0px -4px 4px 2px variable.$primary-light,
        0px 4px 4px 2px variable.$primary-light;
    padding: 0.5rem;
    width: 100%;
    background-color: variable.$bg-primary-light;
    border: 1px solid variable.$secondary-light;
    color: variable.$secondary-light;
    border-radius: 0.5rem 0.5rem 1rem 1rem;
    transition: all 0.3s ease-out;
};
.submit-btn:hover {
    box-shadow: 
        0px -4px 4px 2px variable.$color-accent,
        0px 4px 4px 2px variable.$color-accent;
};

// Carousel
#div-previous {
    position: absolute;
    z-index: 1;
    left: 11%;
    bottom: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    #previous {
        position: absolute;
        left: 0;
        bottom: 0;
        i {
            font-size: 3rem;
            color: variable.$secondary-light;
        };
    };
    #previous-inside {
        margin: 0.8rem 0.74rem;
        font-size: 1.5rem;
        color: variable.$color-accent;
    };
};
#div-previous:hover {
    cursor: pointer;
    #previous {
        animation: 2s linear infinite rotate-left;
    };
    #previous-inside {
        text-shadow: 0 0 5px variable.$primary-light, 0 0 10px variable.$primary-light, 0 0 15px variable.$primary-light, 0 0 20px variable.$color-accent, 0 0 30px variable.$color-accent, 0 0 40px variable.$color-accent, 0 0 55px variable.$color-accent, 0 0 75px variable.$color-accent;
    };
};

#div-next {
    position: absolute;
    z-index: 1;
    top: 11%;
    right: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    #next {
        position: absolute;
        left: 0;
        bottom: 0;
        i {
            font-size: 3rem;
            color: variable.$secondary-light;
        };
    };
    #next-inside {
        margin: 0.8rem 0.74rem;
        font-size: 1.5rem;
        color: variable.$color-accent;
    };
};
#div-next:hover {
    cursor: pointer;
    #next {
        animation: 2s linear infinite rotate;
    };
    #next-inside {
        text-shadow: 0 0 5px variable.$primary-light, 0 0 10px variable.$primary-light, 0 0 15px variable.$primary-light, 0 0 20px variable.$color-accent, 0 0 30px variable.$color-accent, 0 0 40px variable.$color-accent, 0 0 55px variable.$color-accent, 0 0 75px variable.$color-accent;
    };
};
// Carousel END

.dark-theme {
    .cta {
        background-color: variable.$bg-primary-light;
        border: 3px solid variable.$bg-primary-light;
        span {
            color: variable.$secondary-light;
        };
    };
    .cta:hover {
        background-color: variable.$bg-secondary-dark;
        border: 3px solid variable.$color-accent;
    };

    .close-modal {
        i {
            color: variable.$color-accent;
        };
    };
    .close-modal:hover {
        text-shadow: 0 0 5px variable.$secondary-light, 0 0 10px variable.$secondary-light, 0 0 15px variable.$secondary-light, 0 0 20px variable.$color-accent, 0 0 30px variable.$color-accent, 0 0 40px variable.$color-accent, 0 0 55px variable.$color-accent, 0 0 75px variable.$color-accent;
    };

    .submit-btn {
        box-shadow: 
            0px -4px 4px 2px variable.$primary-dark,
            0px 4px 4px 2px variable.$primary-dark;
        background-color: variable.$bg-primary-dark;
        border: 1px solid variable.$secondary-dark;
        color: variable.$secondary-dark;
    };
    // Carousel
    #div-previous {
        #previous {
            i {
                color: variable.$secondary-dark;
            };
        };
    };
    #div-previous:hover {
        #previous-inside {
            text-shadow: 0 0 5px variable.$primary-dark, 0 0 10px variable.$primary-dark, 0 0 15px variable.$primary-dark, 0 0 20px variable.$color-accent, 0 0 30px variable.$color-accent, 0 0 40px variable.$color-accent, 0 0 55px variable.$color-accent, 0 0 75px variable.$color-accent;
        };
    };

    #div-next {
        #next {
            i {
                font-size: 3rem;
                color: variable.$secondary-dark;
            };
        };
    };
    #div-next:hover {
        #next-inside {
            text-shadow: 0 0 5px variable.$primary-dark, 0 0 10px variable.$primary-dark, 0 0 15px variable.$primary-dark, 0 0 20px variable.$color-accent, 0 0 30px variable.$color-accent, 0 0 40px variable.$color-accent, 0 0 55px variable.$color-accent, 0 0 75px variable.$color-accent;
        };
    };
    // Carousel END
};

// Responsive:
@media screen and (min-width:1921px) {  
    #div-previous {
        left: 25%;
        bottom: 12.5%;
        #previous {
            left: 0;
            bottom: 0;
        };
    };
    #div-next {
        top: 12.5%;
        right: 25%;
        #next {
            right: 0;
            bottom: 0;
        };
    };
};

@media screen and (max-width:1250px) {  
    #div-previous {
        left: 12.5%;
        bottom: 12.5%;
    };
    #div-next {
        top: 12.5%;
        right: 12.5%;
    };
};

@media screen and (max-width:768px) {
    #div-previous {
        top: 3rem;
        left: 7.7rem;
        bottom: inherit;
        #previous {
            left: 0;
            bottom: 0;
        };
    };
    #div-next {
        top: 3rem;
        right: 7.7rem;
        #next {
            right: 0;
            bottom: 0;
        };
    };
};