@use "../abstracts/variables" as variable;

footer {
    #copyright {
        margin-bottom: 5rem;
        .copyright {
            text-align: center;
            color: variable.$secondary-light;
        };
    };
};