@font-face {
  font-family: "Special Gothic Regular";
  src: url(../fonts/Special_Gothic/SpecialGothic-Regular.ttf);
  font-weight: 400;
}
@keyframes bling {
  0% {
    text-shadow: none;
    box-shadow: none;
  }
  10% {
    box-shadow: 0 4px 4px 2px #E98A15;
  }
  25% {
    box-shadow: -4px 0 4px 2px #E98A15;
  }
  50% {
    box-shadow: 0 -4px 4px 2px #E98A15;
  }
  75% {
    box-shadow: 4px 0 4px 2px #E98A15;
  }
  100% {
    text-shadow: 0 0 5px #ECE5F0, 0 0 10px #ECE5F0, 0 0 15px #ECE5F0, 0 0 20px #E98A15, 0 0 30px #E98A15, 0 0 40px #E98A15, 0 0 55px #E98A15, 0 0 75px #E98A15;
    box-shadow: 0 4px 4px 2px #E98A15;
  }
}
main {
  position: relative;
  margin-top: 8rem;
}
main .disguise {
  display: none;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
}
main .rendering-modal {
  display: none;
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  min-height: 20rem;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border: 3px solid #E98A15;
  border-radius: 5rem 0 5rem 0;
  background-color: #003B36;
  box-shadow: -4px -4px 4px 0 #F7F7F8, 4px 4px 4px 0 #F7F7F8;
  transform: translate(-50%, -50%);
}
main .rendering-modal a {
  align-self: flex-end;
}
main .rendering-modal h2 {
  color: #F7F7F8;
}
main .rendering-modal h3 {
  color: #ECE5F0;
}
main .rendering-modal p {
  color: #E98A15;
}
main #banner .title h3:first-child {
  text-transform: uppercase;
}
main #banner .container-elements-banner {
  margin-top: 5rem;
  position: relative;
}
main #banner .container-elements-banner i {
  font-size: 3rem;
}
main #banner .container-elements-banner img {
  border: 2px solid #F7F7F8;
  border-top-left-radius: 15rem;
  border-bottom-right-radius: 15rem;
  box-shadow: -4px -4px 4px 0 #003B36, 4px 4px 4px 0 #003B36;
}
main #banner .container-elements-banner .linkedin {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-out;
}
main #banner .container-elements-banner .linkedin:hover {
  text-shadow: 0 0 5px #F7F7F8, 0 0 10px #F7F7F8, 0 0 15px #F7F7F8, 0 0 20px #E98A15, 0 0 30px #E98A15, 0 0 40px #E98A15, 0 0 55px #E98A15, 0 0 75px #E98A15;
}
main #banner .container-elements-banner .github {
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease-out;
}
main #banner .container-elements-banner .github:hover {
  text-shadow: 0 0 5px #F7F7F8, 0 0 10px #F7F7F8, 0 0 15px #F7F7F8, 0 0 20px #E98A15, 0 0 30px #E98A15, 0 0 40px #E98A15, 0 0 55px #E98A15, 0 0 75px #E98A15;
}
main #me .container-me {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  max-height: 42rem;
}
main #me .container-me .image-me {
  width: 40%;
}
main #me .container-me .image-me img {
  border-radius: 1.5rem 6rem 1.5rem 6rem;
}
main #me .container-me .content-me {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
main #me .container-me .content-me .content-trait {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
main #me .container-me .content-me .content-trait .box {
  animation: 5s linear infinite alternate bling;
}
main #me .container-me .content-me .content-trait .trait {
  width: 22%;
  padding: 1rem 0;
  margin-bottom: 2rem;
}
main #me .container-me .content-me .content-trait .trait p {
  margin-bottom: 0;
}
main #me .container-me .content-me .content-trait .trait i {
  color: #ECE5F0;
}
main #me:target::before {
  content: "";
  display: block;
  height: 6.25rem;
  margin-top: -6.25rem;
}
main #works .works {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main #works .works .works-selector {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
main #works .works .works-selector span {
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  margin: 2rem 0;
}
main #works .works .works-selector .work {
  width: 20%;
}
main #works .works .works-selector .work span {
  color: #ECE5F0;
}
main #works .works .works-selector .selected {
  width: 20%;
  background-color: #F7F7F8;
  border: 1px solid #003B36;
  border-radius: 1.5rem;
  box-shadow: inset 0 4px 4px 0 #003B36, 0 4px 4px 2px #003B36;
  color: #ECE5F0;
  transition: all 0.2s ease-in-out;
}
main #works .works .works-selector .selected span {
  color: #003B36;
}
main #works .works .works-selector .selected:hover {
  text-shadow: 0 0 5px #ECE5F0, 0 0 10px #ECE5F0, 0 0 15px #ECE5F0, 0 0 20px #E98A15, 0 0 30px #E98A15, 0 0 40px #E98A15, 0 0 55px #E98A15, 0 0 75px #E98A15;
  box-shadow: inset 0 4px 4px 0 #F7F7F8, 0 4px 4px 2px #E98A15;
}
main #works .works .rendering-works {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
}
main #works .works .rendering-works .work-card {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  border-radius: 2rem;
  background-color: #003B36;
  padding: 2rem;
}
main #works .works .rendering-works .work-card h2 {
  text-align: center;
  color: #F7F7F8;
}
main #works .works .rendering-works .work-card h3 {
  color: #ECE5F0;
}
main #works .works .rendering-works .work-card p {
  display: none;
  color: #ECE5F0;
}
main #works .works .rendering-works .all {
  width: 32%;
}
main #works .works .rendering-works .single {
  width: 45%;
}
main #works:target::before {
  content: "";
  display: block;
  height: 6.25rem;
  margin-top: -6.25rem;
}
main #portfolio .portfolio {
  width: 100%;
}
main #portfolio .portfolio .carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
main #portfolio .portfolio .carousel .gallery {
  margin: 3rem 0;
  display: flex;
  gap: 100rem;
  transition: transform 0.8s ease, opacity 0.8s ease;
  width: 80%;
}
main #portfolio .portfolio .carousel .gallery li {
  padding: 1rem;
  pointer-events: none;
  flex: 0 0 100%;
  font-size: 0;
}
main #portfolio .portfolio .carousel .gallery li img {
  border: 2px solid #F7F7F8;
  border-top-right-radius: 15rem;
  border-bottom-left-radius: 15rem;
  box-shadow: 4px -4px 4px 0 #003B36, -4px 4px 4px 0 #003B36;
}
main #portfolio .portfolio .carousel .dots {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
main #portfolio .portfolio .carousel .dots span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: #ECE5F0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.3s;
}
main #portfolio .portfolio .carousel .dots .active {
  background: #003B36;
}
main #portfolio:target::before {
  content: "";
  display: block;
  height: 6.25rem;
  margin-top: -6.25rem;
}
main #contact {
  margin-bottom: 2rem;
}
main #contact .contact #contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
  padding: 2rem 0;
  background-color: #003B36;
}
main #contact .contact #contact-form .form {
  width: 40%;
}
main #contact .contact #contact-form .form input {
  box-shadow: 0px -4px 4px 2px #F7F7F8, 0px 4px 4px 2px #F7F7F8;
  padding: 0.5rem;
  width: 100%;
  background-color: #F7F7F8;
  border: 1px solid #003B36;
  color: #003B36;
}
main #contact .contact #contact-form .form input:focus-visible {
  box-shadow: 0px -4px 4px 2px #E98A15, 0px 4px 4px 2px #E98A15;
}
main #contact .contact #contact-form .group-f-l {
  display: flex;
  gap: 1.5rem;
}
main #contact .contact #contact-form .group-f-l .firstname {
  width: 50%;
  border-radius: 1rem 0.5rem 0.5rem 0.5rem;
}
main #contact .contact #contact-form .group-f-l .lastname {
  width: 50%;
  border-radius: 0.5rem 1rem 0.5rem 0.5rem;
}
main #contact .contact #contact-form .email {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
main #contact .contact #contact-form .object-form {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
main #contact .contact #contact-form .content-form {
  width: 100%;
  box-shadow: 0px -4px 4px 2px #F7F7F8, 0px 4px 4px 2px #F7F7F8;
  padding: 0.5rem;
  background-color: #F7F7F8;
  border: 1px solid #003B36;
  color: #003B36;
  border-radius: 0.5rem 0.5rem 1rem 1rem;
}
main #contact .contact #contact-form .content-form:focus-visible {
  box-shadow: 0px -4px 4px 2px #E98A15, 0px 4px 4px 2px #E98A15;
}
main #contact .contact #contact-form .form-submit {
  width: 30%;
}
main #contact .contact #contact-form #answer {
  margin: 0;
  visibility: hidden;
  color: #ECE5F0;
}

.dark-theme main .rendering-modal {
  border: 3px solid #E98A15;
  background-color: #ECE5F0;
  box-shadow: -4px -4px 4px 0 #012622, 4px 4px 4px 0 #012622;
}
.dark-theme main .rendering-modal h2 {
  color: #012622;
}
.dark-theme main .rendering-modal h3 {
  color: #003B36;
}
.dark-theme main #banner .container-elements-banner img {
  border: 2px solid #012622;
  box-shadow: -4px -4px 4px 0 #ECE5F0, 4px 4px 4px 0 #ECE5F0;
}
.dark-theme main #banner .container-elements-banner .linkedin:hover {
  text-shadow: 0 0 5px #012622, 0 0 10px #012622, 0 0 15px #012622, 0 0 20px #E98A15, 0 0 30px #E98A15, 0 0 40px #E98A15, 0 0 55px #E98A15, 0 0 75px #E98A15;
}
.dark-theme main #banner .container-elements-banner .github:hover {
  text-shadow: 0 0 5px #012622, 0 0 10px #012622, 0 0 15px #012622, 0 0 20px #E98A15, 0 0 30px #E98A15, 0 0 40px #E98A15, 0 0 55px #E98A15, 0 0 75px #E98A15;
}
.dark-theme main #me .container-me .content-me .content-trait .trait i {
  color: #003B36;
}
.dark-theme main #works .works .works-selector .work span {
  color: #003B36;
}
.dark-theme main #works .works .works-selector .selected {
  background-color: #012622;
  border: 1px solid #ECE5F0;
  box-shadow: inset 0 4px 4px 0 #ECE5F0, 0 4px 4px 2px #ECE5F0;
  color: #003B36;
}
.dark-theme main #works .works .works-selector .selected span {
  color: #ECE5F0;
}
.dark-theme main #works .works .works-selector .selected:hover {
  text-shadow: 0 0 5px #003B36, 0 0 10px #003B36, 0 0 15px #003B36, 0 0 20px #E98A15, 0 0 30px #E98A15, 0 0 40px #E98A15, 0 0 55px #E98A15, 0 0 75px #E98A15;
  box-shadow: inset 0 4px 4px 0 #012622, 0 4px 4px 2px #E98A15;
}
.dark-theme main #works .works .rendering-works .work-card {
  background-color: #ECE5F0;
}
.dark-theme main #works .works .rendering-works .work-card h2 {
  color: #012622;
}
.dark-theme main #works .works .rendering-works .work-card h3 {
  color: #003B36;
}
.dark-theme main #works .works .rendering-works .work-card p {
  color: #003B36;
}
.dark-theme main #portfolio .portfolio .carousel .gallery li img {
  border: 2px solid #012622;
  box-shadow: 4px -4px 4px 0 #ECE5F0, -4px 4px 4px 0 #ECE5F0;
}
.dark-theme main #portfolio .portfolio .carousel .dots span {
  background: #003B36;
}
.dark-theme main #portfolio .portfolio .carousel .dots .active {
  background: #ECE5F0;
}
.dark-theme main #contact .contact #contact-form {
  background-color: #ECE5F0;
}
.dark-theme main #contact .contact #contact-form .form input {
  box-shadow: 0px -4px 4px 2px #012622, 0px 4px 4px 2px #012622;
  background-color: #012622;
  border: 1px solid #ECE5F0;
  color: #ECE5F0;
}
.dark-theme main #contact .contact #contact-form .content-form {
  box-shadow: 0px -4px 4px 2px #012622, 0px 4px 4px 2px #012622;
  background-color: #012622;
  border: 1px solid #ECE5F0;
  color: #003B36;
}
.dark-theme main #contact .contact #contact-form #answer {
  color: #003B36;
}

@media screen and (min-width: 1921px) {
  main #portfolio .portfolio .carousel .gallery {
    width: 50%;
  }
  main #contact .contact #contact-form .form {
    width: 25%;
  }
  main #contact .contact #contact-form .form-submit {
    width: 15%;
  }
}
@media screen and (max-width: 1250px) {
  main #works .works .rendering-works {
    width: 100%;
  }
  main #works .works .rendering-works .all {
    width: 30%;
  }
}
@media screen and (max-width: 1060px) {
  main {
    margin-top: 12rem;
  }
}
@media screen and (max-width: 900px) {
  main #me .container-me .content-me {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  main #banner .container {
    width: 100%;
  }
  main #banner .container-elements-banner img {
    border-radius: inherit;
    box-shadow: inherit;
  }
  main #banner .container-elements-banner .linkedin {
    top: -4rem;
    left: 7.7rem;
  }
  main #banner .container-elements-banner .github {
    top: -4rem;
    right: 7.7rem;
    bottom: inherit;
  }
  main #me .container {
    width: 100%;
  }
  main #me .container-me {
    flex-direction: column;
    align-items: center;
    max-height: inherit;
  }
  main #me .container-me .image-me {
    width: 100%;
    max-height: 20rem;
    margin-bottom: 2rem;
  }
  main #me .container-me .image-me img {
    border-radius: inherit;
  }
  main #me .container-me .content-me {
    width: 95%;
    align-items: center;
    text-align: center;
    font-size: inherit;
  }
  main #me .container-me .content-me .content-trait .trait {
    font-size: 0.8rem;
  }
  main #me .container-me .content-me .content-trait .trait i {
    font-size: 0.8rem;
  }
  main #works .container {
    width: 95%;
  }
  main #works .works .works-selector .work span {
    font-size: 1rem;
  }
  main #works .works .works-selector .selected span {
    font-size: 1rem;
  }
  main #works .works .rendering-works {
    flex-direction: column;
    align-items: center;
  }
  main #works .works .rendering-works .work-card {
    align-items: center;
  }
  main #works .works .rendering-works .work-card p {
    display: inherit;
  }
  main #works .works .rendering-works .work-card a {
    display: none;
  }
  main #works .works .rendering-works .all {
    width: 100%;
  }
  main #works .works .rendering-works .single {
    width: 100%;
  }
  main #portfolio .portfolio .carousel {
    margin-top: 3rem;
  }
  main #portfolio .portfolio .carousel .gallery {
    margin-top: inherit;
    margin-bottom: inherit;
    padding-top: 3rem;
    padding-bottom: 1rem;
    width: 100%;
  }
  main #portfolio .portfolio .carousel .gallery li {
    padding: inherit;
  }
  main #portfolio .portfolio .carousel .gallery li img {
    border: inherit;
    border-top-right-radius: inherit;
    border-bottom-left-radius: inherit;
    box-shadow: inherit;
  }
  main #portfolio .portfolio .carousel .dots span {
    width: 1rem;
    height: 1rem;
  }
  main #contact .contact #contact-form .form {
    width: 70%;
  }
  main #contact .contact #contact-form .form-submit {
    width: 50%;
  }
}
footer #copyright {
  margin-bottom: 5rem;
}
footer #copyright .copyright {
  text-align: center;
  color: #003B36;
}

.dark-theme footer #copyright .copyright {
  color: #ECE5F0;
}

@keyframes show-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dont-show-content {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #F7F7F8;
  box-shadow: 0 4px 4px 0 #ECE5F0;
}
header .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}
header .nav .list-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 0;
}
header .nav .list-navigation .link {
  font-size: 1.5rem;
}
header .nav .list-navigation .icon-nav-theme-mobile {
  display: none;
}
header .nav .list-navigation i {
  cursor: pointer;
}
header .nav .dropdown {
  position: relative;
  display: none;
  transition: display 5s ease-out;
}
header .nav .dropdown i {
  color: #E98A15;
}
header .nav .dropdown:hover {
  cursor: pointer;
}
header .nav .dropdown-content {
  position: absolute;
  z-index: 1;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 10rem;
  padding: 0.8rem 1rem;
  border: 3px solid #E98A15;
  border-radius: 1rem;
  background-color: #003B36;
  box-shadow: 0 10px 15px 12px #F7F7F8;
  transform: translate(-45%, 2%);
}
header #theme-toggle {
  width: 11rem;
  position: fixed;
  top: 0;
  right: -100px;
  transform: translate(-50%, -50%);
  filter: invert(88%) sepia(96%) saturate(0%) hue-rotate(335deg) brightness(98%) contrast(93%);
}
header #theme-toggle img {
  transition: transform 0.5s ease;
}

.dark-theme header {
  background-color: #012622;
  box-shadow: 0 4px 4px 0 #003B36;
}
.dark-theme header .dropdown-content {
  background-color: #F7F7F8;
  box-shadow: 0 10px 15px 12px #012622;
}
.dark-theme header #theme-toggle {
  filter: inherit;
}

@media screen and (max-width: 1060px) {
  header .nav {
    flex-direction: column;
    gap: 2rem;
  }
  header .nav .list-navigation {
    gap: 1rem;
  }
  header .nav .list-navigation .icon-nav-theme-mobile {
    display: inherit;
  }
  header .nav .list-navigation .icon-nav-theme-desktop {
    display: none;
  }
  header #theme-toggle {
    top: -25px;
    right: -88px;
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 768px) {
  header .nav {
    gap: 2.8rem;
  }
  header .nav .list-navigation {
    display: none;
  }
  header .nav .dropdown {
    position: relative;
    display: inherit;
  }
}
@keyframes bounce {
  0% {
    translate: 0;
  }
  50% {
    translate: -8px;
  }
  100% {
    translate: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.cta {
  background-color: #012622;
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  border: 3px solid #012622;
  transition: all 0.2s ease-in-out;
}
.cta span {
  color: #ECE5F0;
}

.cta:hover {
  background-color: #003B36;
  border: 3px solid #E98A15;
}

.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 3px solid transparent;
  color: #E98A15;
  transition: all 0.1s ease-out;
}
.link i {
  font-size: 0.9rem;
  color: #E98A15;
}

.link:hover {
  padding-bottom: 0;
  border-bottom: 3px solid #E98A15;
}
.link:hover i {
  animation: 0.8s linear infinite bounce;
}

.close-modal {
  transition: all 0.1s ease-out;
}
.close-modal i {
  font-size: 1.2rem;
  color: #E98A15;
}

.close-modal:hover {
  cursor: pointer;
  text-shadow: 0 0 5px #ECE5F0, 0 0 10px #ECE5F0, 0 0 15px #ECE5F0, 0 0 20px #E98A15, 0 0 30px #E98A15, 0 0 40px #E98A15, 0 0 55px #E98A15, 0 0 75px #E98A15;
}

.submit-btn {
  box-shadow: 0px -4px 4px 2px #F7F7F8, 0px 4px 4px 2px #F7F7F8;
  padding: 0.5rem;
  width: 100%;
  background-color: #F7F7F8;
  border: 1px solid #003B36;
  color: #003B36;
  border-radius: 0.5rem 0.5rem 1rem 1rem;
  transition: all 0.3s ease-out;
}

.submit-btn:hover {
  box-shadow: 0px -4px 4px 2px #E98A15, 0px 4px 4px 2px #E98A15;
}

#div-previous {
  position: absolute;
  z-index: 1;
  left: 11%;
  bottom: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#div-previous #previous {
  position: absolute;
  left: 0;
  bottom: 0;
}
#div-previous #previous i {
  font-size: 3rem;
  color: #003B36;
}
#div-previous #previous-inside {
  margin: 0.8rem 0.74rem;
  font-size: 1.5rem;
  color: #E98A15;
}

#div-previous:hover {
  cursor: pointer;
}
#div-previous:hover #previous {
  animation: 2s linear infinite rotate-left;
}
#div-previous:hover #previous-inside {
  text-shadow: 0 0 5px #F7F7F8, 0 0 10px #F7F7F8, 0 0 15px #F7F7F8, 0 0 20px #E98A15, 0 0 30px #E98A15, 0 0 40px #E98A15, 0 0 55px #E98A15, 0 0 75px #E98A15;
}

#div-next {
  position: absolute;
  z-index: 1;
  top: 11%;
  right: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#div-next #next {
  position: absolute;
  left: 0;
  bottom: 0;
}
#div-next #next i {
  font-size: 3rem;
  color: #003B36;
}
#div-next #next-inside {
  margin: 0.8rem 0.74rem;
  font-size: 1.5rem;
  color: #E98A15;
}

#div-next:hover {
  cursor: pointer;
}
#div-next:hover #next {
  animation: 2s linear infinite rotate;
}
#div-next:hover #next-inside {
  text-shadow: 0 0 5px #F7F7F8, 0 0 10px #F7F7F8, 0 0 15px #F7F7F8, 0 0 20px #E98A15, 0 0 30px #E98A15, 0 0 40px #E98A15, 0 0 55px #E98A15, 0 0 75px #E98A15;
}

.dark-theme .cta {
  background-color: #F7F7F8;
  border: 3px solid #F7F7F8;
}
.dark-theme .cta span {
  color: #003B36;
}
.dark-theme .cta:hover {
  background-color: #ECE5F0;
  border: 3px solid #E98A15;
}
.dark-theme .close-modal:hover {
  text-shadow: 0 0 5px #003B36, 0 0 10px #003B36, 0 0 15px #003B36, 0 0 20px #E98A15, 0 0 30px #E98A15, 0 0 40px #E98A15, 0 0 55px #E98A15, 0 0 75px #E98A15;
}
.dark-theme .submit-btn {
  box-shadow: 0px -4px 4px 2px #012622, 0px 4px 4px 2px #012622;
  background-color: #012622;
  border: 1px solid #ECE5F0;
  color: #ECE5F0;
}
.dark-theme #div-previous #previous i {
  color: #ECE5F0;
}
.dark-theme #div-previous:hover #previous-inside {
  text-shadow: 0 0 5px #012622, 0 0 10px #012622, 0 0 15px #012622, 0 0 20px #E98A15, 0 0 30px #E98A15, 0 0 40px #E98A15, 0 0 55px #E98A15, 0 0 75px #E98A15;
}
.dark-theme #div-next #next i {
  font-size: 3rem;
  color: #ECE5F0;
}
.dark-theme #div-next:hover #next-inside {
  text-shadow: 0 0 5px #012622, 0 0 10px #012622, 0 0 15px #012622, 0 0 20px #E98A15, 0 0 30px #E98A15, 0 0 40px #E98A15, 0 0 55px #E98A15, 0 0 75px #E98A15;
}

@media screen and (min-width: 1921px) {
  #div-previous {
    left: 25%;
    bottom: 12.5%;
  }
  #div-previous #previous {
    left: 0;
    bottom: 0;
  }
  #div-next {
    top: 12.5%;
    right: 25%;
  }
  #div-next #next {
    right: 0;
    bottom: 0;
  }
}
@media screen and (max-width: 1250px) {
  #div-previous {
    left: 12.5%;
    bottom: 12.5%;
  }
  #div-next {
    top: 12.5%;
    right: 12.5%;
  }
}
@media screen and (max-width: 768px) {
  #div-previous {
    top: 3rem;
    left: 7.7rem;
    bottom: inherit;
  }
  #div-previous #previous {
    left: 0;
    bottom: 0;
  }
  #div-next {
    top: 3rem;
    right: 7.7rem;
  }
  #div-next #next {
    right: 0;
    bottom: 0;
  }
}
* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Special Gothic Regular";
  font-size: 1rem;
  margin: 0;
  background-color: #F7F7F8;
  color: #003B36;
  transition: background-color 0.5s;
}

section {
  margin-bottom: 10rem;
}

h1, h2 {
  font-size: 1.5rem;
  color: #012622;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
  color: #003B36;
}

i {
  font-size: 1.3rem;
  color: #003B36;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dark-theme {
  background-color: #012622;
  color: #ECE5F0;
}
.dark-theme h1, .dark-theme h2 {
  color: #F7F7F8;
}
.dark-theme h3 {
  color: #ECE5F0;
}
.dark-theme i {
  color: #ECE5F0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}
.title h3:first-of-type {
  border-bottom: 3px solid #E98A15;
}

.box {
  background-color: #003B36;
  border: 1px solid #F7F7F8;
  border-radius: 1.5rem;
  box-shadow: 0 4px 4px 2px #003B36;
  color: #ECE5F0;
  transition: all 0.2s ease-in-out;
}

.box:hover {
  text-shadow: 0 0 5px #ECE5F0, 0 0 10px #ECE5F0, 0 0 15px #ECE5F0, 0 0 20px #E98A15, 0 0 30px #E98A15, 0 0 40px #E98A15, 0 0 55px #E98A15, 0 0 75px #E98A15;
  box-shadow: 0 4px 4px 2px #E98A15;
}

.dark-theme .box {
  background-color: #ECE5F0;
  border: 1px solid #012622;
  box-shadow: 0 4px 4px 2px #ECE5F0;
  color: #003B36;
}
.dark-theme .box:hover {
  text-shadow: 0 0 5px #003B36, 0 0 10px #003B36, 0 0 15px #003B36, 0 0 20px #E98A15, 0 0 30px #E98A15, 0 0 40px #E98A15, 0 0 55px #E98A15, 0 0 75px #E98A15;
  box-shadow: 0 4px 4px 2px #E98A15;
}

@media screen and (min-width: 1921px) {
  .container {
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
