@use "../abstracts/variables" as variable;

@keyframes bling {
    0% {
        text-shadow: none;
        box-shadow: none;
    };
    10% {
        box-shadow: 0 4px 4px 2px variable.$color-accent;
    };
    25% {
        box-shadow: -4px 0 4px 2px variable.$color-accent;
    };
    50% {
        box-shadow: 0 -4px 4px 2px variable.$color-accent;
    };
    75% {
        box-shadow: 4px 0 4px 2px variable.$color-accent;
    };
    100% {
        text-shadow: 0 0 5px variable.$secondary-dark, 0 0 10px variable.$secondary-dark, 0 0 15px variable.$secondary-dark, 0 0 20px variable.$color-accent, 0 0 30px variable.$color-accent, 0 0 40px variable.$color-accent, 0 0 55px variable.$color-accent, 0 0 75px variable.$color-accent;
        box-shadow: 0 4px 4px 2px variable.$color-accent;
    };
};

main {
    position: relative;
    margin-top: 8rem;
    .disguise {
        display: none;
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
    }
    .rendering-modal {
        display: none;
        position: fixed;
        z-index: 5;
        top: 50%;
        left: 50%;
        min-height: 20rem;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        border: 3px solid variable.$color-accent;
        border-radius: 5rem 0 5rem 0;
        background-color: variable.$bg-secondary-light;
        box-shadow: 
            -4px -4px 4px 0 variable.$bg-primary-light,
            4px 4px 4px 0 variable.$bg-primary-light;
        transform: translate((-50%), (-50%));
        a {
            align-self: flex-end;
        }
        h2 {
            color: variable.$primary-light;
        };
        h3 {
            color: variable.$secondary-dark;
        };
        p {
            color: variable.$color-accent;
        };
    };
    #banner {
        .title {
            h3:first-child {
                text-transform: uppercase;
            };
        };
        .container-elements-banner {
            margin-top: 5rem;
            position: relative;
            i {
                font-size: 3rem;
            };
            img {
                border: 2px solid variable.$bg-primary-light;
                border-top-left-radius: 15rem;
                border-bottom-right-radius: 15rem;
                box-shadow: 
                    -4px -4px 4px 0 variable.$bg-secondary-light,
                    4px 4px 4px 0 variable.$bg-secondary-light;
            };
            .linkedin {
                position: absolute;
                top: 0;
                left: 0;
                transition: all 0.3s ease-out;
            };
            .linkedin:hover {
                text-shadow: 0 0 5px variable.$primary-light, 0 0 10px variable.$primary-light, 0 0 15px variable.$primary-light, 0 0 20px variable.$color-accent, 0 0 30px variable.$color-accent, 0 0 40px variable.$color-accent, 0 0 55px variable.$color-accent, 0 0 75px variable.$color-accent;
            };
            .github {
                position: absolute;
                bottom: 0;
                right: 0;
                transition: all 0.3s ease-out;
            };
            .github:hover {
                text-shadow: 0 0 5px variable.$primary-light, 0 0 10px variable.$primary-light, 0 0 15px variable.$primary-light, 0 0 20px variable.$color-accent, 0 0 30px variable.$color-accent, 0 0 40px variable.$color-accent, 0 0 55px variable.$color-accent, 0 0 75px variable.$color-accent;
            };
        };
    };
    #me {
        .container-me {
            display: flex;
            justify-content: space-between;
            margin-top: 5rem;
            max-height: 42rem;
            .image-me {
                width: 40%;
                img {
                    border-radius: 1.5rem 6rem 1.5rem 6rem;
                };
            };
            .content-me {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                .content-trait {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    .box {
                        animation: 5s linear infinite alternate bling;
                    };
                    .trait {
                        width: 22%;
                        padding: 1rem 0;
                        margin-bottom: 2rem;
                        p {
                            margin-bottom: 0;
                        };
                        i {
                            color: variable.$secondary-dark;
                        };
                    };
                };
            };
        };
    };
    #me:target::before {
        content:"";
        display:block;
        height: 6.25rem;
        margin-top: -6.25rem;
    };
    #works {
        .works {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .works-selector {
                margin-top: 5rem;
                width: 100%;
                display: flex;
                justify-content: space-between;
                text-align: center;
                span {
                    cursor: pointer;
                    display: block;
                    font-size: 1.5rem;
                    margin: 2rem 0;
                };
                .work {
                    width: 20%;
                    span {
                        color: variable.$secondary-dark;
                    };
                };
                .selected {
                    width: 20%;
                    background-color: variable.$bg-primary-light;
                    border: 1px solid variable.$bg-secondary-light;
                    border-radius: 1.5rem;
                    box-shadow: 
                        inset  0 4px 4px 0 variable.$bg-secondary-light,
                        0 4px 4px 2px variable.$bg-secondary-light;
                    color: variable.$secondary-dark;
                    span {
                        color: variable.$secondary-light;
                    };
                    transition: all 0.2s ease-in-out;
                };
                .selected:hover {
                    text-shadow: 0 0 5px variable.$secondary-dark, 0 0 10px variable.$secondary-dark, 0 0 15px variable.$secondary-dark, 0 0 20px variable.$color-accent, 0 0 30px variable.$color-accent, 0 0 40px variable.$color-accent, 0 0 55px variable.$color-accent, 0 0 75px variable.$color-accent;
                    box-shadow: 
                        inset 0 4px 4px 0 variable.$bg-primary-light,
                        0 4px 4px 2px variable.$color-accent;
                };
            };
            .rendering-works {
                width: 80%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 1rem;
                margin-top: 5rem;
                .work-card {
                    min-height: 20rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 2rem;
                    border-radius: 2rem;
                    background-color: variable.$bg-secondary-light;
                    padding: 2rem;
                    h2 {
                        text-align: center;
                        color: variable.$primary-light;
                    }
                    h3 {
                        color: variable.$secondary-dark;
                    }
                    p {
                        display: none;
                        color: variable.$secondary-dark;
                    }
                };
                .all {
                    width: 32%;
                }
                .single {
                    width: 45%;
                };
            };
        };
    };
    #works:target::before {
        content:"";
        display:block;
        height: 6.25rem;
        margin-top: -6.25rem;
    };
    #portfolio {
        .portfolio {
            width: 100%;
            .carousel {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                .gallery {
                    margin: 3rem 0;
                    display: flex;
                    gap: 100rem;
                    transition: transform 0.8s ease, opacity 0.8s ease;
                    width: 80%;
                    li {
                        padding: 1rem;
                        pointer-events: none;
                        flex: 0 0 100%;
                        font-size: 0;
                        img {
                            border: 2px solid variable.$bg-primary-light;
                            border-top-right-radius: 15rem;
                            border-bottom-left-radius: 15rem;
                            box-shadow: 
                                4px -4px 4px 0 variable.$bg-secondary-light,
                                -4px 4px 4px 0 variable.$bg-secondary-light;
                        };
                    };
                };
                .dots {
                    text-align: center;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    span {
                        display: inline-block;
                        width: 1rem;
                        height: 1rem;
                        background: variable.$secondary-dark;
                        border-radius: 50%;
                        margin: 0 5px;
                        cursor: pointer;
                        transition: background 0.3s;
                    };
                };
                .dots .active {
                    background: variable.$secondary-light;
                };
            };
        };
    };
    #portfolio:target::before {
        content:"";
        display:block;
        height: 6.25rem;
        margin-top: -6.25rem;
    };
    #contact {
        margin-bottom: 2rem;
        .contact {
            #contact-form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 1.5rem;
                margin-top: 3rem;
                padding: 2rem 0;
                background-color: variable.$bg-secondary-light;
                .form {
                    width: 40%;
                    input {
                        box-shadow: 
                            0px -4px 4px 2px variable.$primary-light,
                            0px 4px 4px 2px variable.$primary-light;
                        padding: 0.5rem;
                        width: 100%;
                        background-color: variable.$bg-primary-light;
                        border: 1px solid variable.$secondary-light;
                        color: variable.$secondary-light;
                    };
                    input:focus-visible {
                        box-shadow: 
                            0px -4px 4px 2px variable.$color-accent,
                            0px 4px 4px 2px variable.$color-accent;
                    };
                };
                .group-f-l {
                    display: flex;
                    gap: 1.5rem;
                    .firstname {
                        width: 50%;
                        border-radius: 1rem 0.5rem 0.5rem 0.5rem;
                    };
                    .lastname {
                        width: 50%;
                        border-radius: 0.5rem 1rem 0.5rem 0.5rem;
                    };
                };
                .email {
                    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
                };
                .object-form {
                    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
                };
                .content-form {
                    width: 100%;
                    box-shadow: 
                        0px -4px 4px 2px variable.$primary-light,
                        0px 4px 4px 2px variable.$primary-light;
                    padding: 0.5rem;
                    background-color: variable.$bg-primary-light;
                    border: 1px solid variable.$secondary-light;
                    color: variable.$secondary-light;
                    border-radius: 0.5rem 0.5rem 1rem 1rem;
                };
                .content-form:focus-visible {
                    box-shadow: 
                        0px -4px 4px 2px variable.$color-accent,
                        0px 4px 4px 2px variable.$color-accent;
                };
                .form-submit {
                    width: 30%;
                };
                #answer {
                    margin: 0;
                    visibility: hidden;
                    color: variable.$secondary-dark;
                };
            };
        };
    };
};

.dark-theme {
    main {
        .rendering-modal {
            border: 3px solid variable.$color-accent;
            background-color: variable.$bg-secondary-dark;
            box-shadow: 
                -4px -4px 4px 0 variable.$bg-primary-dark,
                4px 4px 4px 0 variable.$bg-primary-dark;
            h2 {
                color: variable.$primary-dark;
            };
            h3 {
                color: variable.$secondary-light;
            };
        };
        #banner {
            .container-elements-banner {
                img {
                    border: 2px solid variable.$bg-primary-dark;
                    box-shadow: 
                        -4px -4px 4px 0 variable.$bg-secondary-dark,
                        4px 4px 4px 0 variable.$bg-secondary-dark;
                };
                .linkedin:hover {
                    text-shadow: 0 0 5px variable.$primary-dark, 0 0 10px variable.$primary-dark, 0 0 15px variable.$primary-dark, 0 0 20px variable.$color-accent, 0 0 30px variable.$color-accent, 0 0 40px variable.$color-accent, 0 0 55px variable.$color-accent, 0 0 75px variable.$color-accent;
                };
                .github:hover {
                    text-shadow: 0 0 5px variable.$primary-dark, 0 0 10px variable.$primary-dark, 0 0 15px variable.$primary-dark, 0 0 20px variable.$color-accent, 0 0 30px variable.$color-accent, 0 0 40px variable.$color-accent, 0 0 55px variable.$color-accent, 0 0 75px variable.$color-accent;
                };
            };
        };
        #me {
            .container-me {
                .content-me {
                    .content-trait {
                        .trait {
                            i {
                                color: variable.$secondary-light;
                            };
                        };
                    };
                };
            };
        };
        #works {
            .works {
                .works-selector {
                    .work {
                        span {
                            color: variable.$secondary-light;
                        };
                    };
                    .selected {
                        background-color: variable.$bg-primary-dark;
                        border: 1px solid variable.$bg-secondary-dark;
                        box-shadow: 
                            inset  0 4px 4px 0 variable.$bg-secondary-dark,
                            0 4px 4px 2px variable.$bg-secondary-dark;
                        color: variable.$secondary-light;
                        span {
                            color: variable.$secondary-dark;
                        };
                    };
                    .selected:hover {
                        text-shadow: 0 0 5px variable.$secondary-light, 0 0 10px variable.$secondary-light, 0 0 15px variable.$secondary-light, 0 0 20px variable.$color-accent, 0 0 30px variable.$color-accent, 0 0 40px variable.$color-accent, 0 0 55px variable.$color-accent, 0 0 75px variable.$color-accent;
                        box-shadow: 
                            inset 0 4px 4px 0 variable.$bg-primary-dark,
                            0 4px 4px 2px variable.$color-accent;
                    };
                };
                .rendering-works {
                    .work-card {
                        background-color: variable.$bg-secondary-dark;
                        h2 {
                            color: variable.$primary-dark;
                        }
                        h3 {
                            color: variable.$secondary-light;
                        }
                        p {
                            color: variable.$secondary-light;
                        }
                    };
                };
            };
        };
        #portfolio {
            .portfolio {
                .carousel {
                    .gallery {
                        li {
                            img {
                                border: 2px solid variable.$bg-primary-dark;
                                box-shadow: 
                                    4px -4px 4px 0 variable.$bg-secondary-dark,
                                    -4px 4px 4px 0 variable.$bg-secondary-dark;
                            };
                        };
                    };
                    .dots {
                        span {
                            background: variable.$secondary-light;
                        };
                    };
                    .dots .active {
                        background: variable.$secondary-dark;
                    };
                };
            };
        };
        #contact {
            .contact {
                #contact-form {
                    background-color: variable.$bg-secondary-dark;
                    .form {
                        input {
                            box-shadow: 
                                0px -4px 4px 2px variable.$primary-dark,
                                0px 4px 4px 2px variable.$primary-dark;
                            background-color: variable.$bg-primary-dark;
                            border: 1px solid variable.$secondary-dark;
                            color: variable.$secondary-dark;
                        };
                    };
                    .content-form {
                        box-shadow: 
                            0px -4px 4px 2px variable.$primary-dark,
                            0px 4px 4px 2px variable.$primary-dark;
                        background-color: variable.$bg-primary-dark;
                        border: 1px solid variable.$secondary-dark;
                        color: variable.$secondary-light;
                    };
                    #answer {
                        color: variable.$secondary-light;
                    };
                };
            };
        };
    };
};

// Responsive:
@media screen and (min-width:1921px) {  
    main {
        #portfolio {
            .portfolio {
                .carousel {
                    .gallery {
                        width: 50%;
                    };
                };
            };
        };
        #contact {
            .contact {
                #contact-form {
                    .form {
                        width: 25%;
                    };
                    .form-submit {
                        width: 15%;
                    };
                };
            };
        };
    };
};

@media screen and (max-width:1250px) {  
    main {
        #works {
            .works {
                .rendering-works {
                    width: 100%;
                    .all {
                        width: 30%;
                    }
                };
            };
        };
    };
};

@media screen and (max-width: 1060px) {
    main {
        margin-top: 12rem;
    };
};

@media screen and (max-width:900px) {  
    main {
        #me {
            .container-me {
                .content-me {
                    font-size: 0.8rem;
                };
            };
        };
    };
};

@media screen and (max-width:768px) {  
    main {
        #banner {
            .container {
                width: 100%;
            };
            .container-elements-banner {
                img {
                    border-radius: inherit;
                    box-shadow: inherit;
                };
                .linkedin {
                    top: -4rem;
                    left: 7.7rem;
                };
                .github {
                    top: -4rem;
                    right: 7.7rem;
                    bottom: inherit;
                };
            };
        };
        #me {
            .container {
                width: 100%;
            };
            .container-me {
                flex-direction: column;
                align-items: center;
                max-height: inherit;
                .image-me {
                    width: 100%;
                    max-height: 20rem;
                    margin-bottom: 2rem;
                    img {
                        border-radius: inherit;
                    };
                };
                .content-me {
                    width: 95%;
                    align-items: center;
                    text-align: center;
                    font-size: inherit;
                    .content-trait {
                        .trait {
                            font-size: 0.8rem;
                            i {
                                font-size: 0.8rem;
                            }
                        };
                    };
                };
            };
        };
        #works {
            .container {
                width: 95%;
            };
            .works {
                .works-selector {
                    .work {
                        span {
                            font-size: 1rem;
                        };
                    };
                    .selected {
                        span {
                            font-size: 1rem;
                        };
                    };
                };
                .rendering-works {
                    flex-direction: column;
                    align-items: center;
                    .work-card {
                        align-items: center;
                        p {
                            display: inherit;
                        };
                        a {
                            display: none;
                        };
                    };
                    .all {
                        width: 100%;
                    }
                    .single {
                        width: 100%;
                    }
                };
            };
        };
        #portfolio {
            .portfolio {
                .carousel {
                    margin-top: 3rem;
                    .gallery {
                        margin-top: inherit;
                        margin-bottom: inherit;
                        padding-top: 3rem;
                        padding-bottom: 1rem;
                        width: 100%;
                        li {
                            padding: inherit;
                            img {
                                border: inherit;
                                border-top-right-radius: inherit;
                                border-bottom-left-radius: inherit;
                                box-shadow: inherit;
                            };
                        };
                    };
                    .dots {
                        span {
                            width: 1rem;
                            height: 1rem;
                        };
                    };
                };
            };
        };
        #contact {
            .contact {
                #contact-form {
                    .form {
                        width: 70%;
                    };
                    .form-submit {
                        width: 50%;
                    };
                };
            };
        };
    };
};